* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

header {
    line-height: 80px;
}

header img {
    float: left;
}

header form {
    float: right
}

.clear {
    clear: both;
}

div .banner img {
    width: 100%;
    margin: 10px 0;
}

nav {
    line-height: 45px;
    background-color: orange;
}

nav ul {
    text-align: center;
}

nav ul li {

    display: inline-block;
}

nav ul a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}

nav ul a:hover {
    text-decoration: underline;
    background-color: orangered;
}

article h2 {
    text-align: center;
}
.col {
    width: 33.33333%;
    float: left;
}

.news {
    border: 1px solid #999;
    padding: 10px;
    margin: 10px 8px;
}

.news img {
    width: 100%;
}

.news a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px 0;
}

.news a:hover {
    color: teal;
}

footer {
    line-height: 60px;
    background-color: orange;
    text-align: center;
    color: #fff;
}